{% extends "base.html" %}
{% load static %}
{% block title %}
Contacts
{% endblock title %}
{% block content %}

    <!-- Main Section -->
    {% comment %} <div class="jumbotron text-center">
        <h1 class="display-4">Welcome!</h1>
        <p class="lead">Here are your contacts</p>
    </div> {% endcomment %}
    <div class="container">
      <h2 class="heading font-weight-light text-center">Create New Contact</h2>
      <hr>
    </div>

    <div class="container main-part">
      <!-- Card for details -->
      {% if contacts %}
      {% for contact in contacts %}

      {% include "partials/_card.html" %}

      {% endfor %}
      {% else %}
      <h2>No Contacts Yet</h2>
      {% endif %}
    </div>
      <!-- Card for details ends -->

      
    <!-- Main Section ends-->
    


{% endblock content %}